/**/.*  # ignore all dotted files
/**/.*/ # ignore all dotted folders
!/.gitignore  # except `gitignore` :)
!crates/groups_relay/db/.gitkeep

/target
/crates/*/target

crates/groups_relay/db/*

frontend/node_modules/*
frontend/dist/*

# Added by Claude Task Master
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store
# Task files
tasks.json
tasks/ 
flamegraph.svg
db
.claude/settings.local.json
CLAUDE.local.md
