/**/.*  # ignore all dotted files
/**/.*/ # ignore all dotted folders
!/.gitignore  # except `gitignore` :)
!crates/groups_relay/db/.gitkeep

/target
/crates/*/target

crates/groups_relay/db/*

frontend/node_modules/*
frontend/dist/*
