[workspace]
members = [
    ".",
    "websocket_builder"
]

[package]
name = "groups_relay"
version = "0.1.0"
edition = "2021"

[dependencies]
websocket_builder = { path = "websocket_builder" }
anyhow = { version = "1.0.89", features = ["backtrace"] }
async-trait = "0.1.82"
clap = { version = "4.5.17", features = ["derive"] }
tokio = { version = "1.38.1", features = ["full", "tracing"] }
tokio-util = { version = "0.7.1", features = ["rt"] }
dashmap = "6.1.0"
nostr-sdk = { version = "0.37.0", features = ["all-nips"] }
rand = "0.8.5"
config = "0.13"
serde = { version = "1.0", features = ["derive"] }
axum = "0.7"
axum-server = "0.6"
tracing = { version = "0.1" }
tracing-subscriber = { version = "0.3", features = ["env-filter", "time"] }
strum = { version = "0.26.3", features = ["derive", "strum_macros"] }
snafu = { version = "0.8.5", features = ["backtrace"] }
console-subscriber = { version = "0.4.1", optional = true }
tower-http = { version = "0.6.2", features = ["cors", "fs"] }
tower = "0.5.2"
futures = "0.3.31"
nostr-database = "0.37.0"
nostr-lmdb = "0.37.0"
metrics = "0.24.1"
metrics-exporter-prometheus = "0.16.2"
time = { version = "0.3.37", features = ["local-offset", "macros"] }
humantime-serde = "1.1.1"

[features]
console = ["dep:console-subscriber"]

[dev-dependencies]
futures-util = "0.3.31"
tempfile = "3.14.0"
tokio-tungstenite = "0.26.1"
