services:
  groups_relay:
    build:
      context: .
      dockerfile: Dockerfile.dev
      args:
        - DEBIAN_FRONTEND=noninteractive
    volumes:
      - ./crates/groups_relay/config:/app/config:ro
      - ./crates/groups_relay/db:/app/db
    environment:
      RUST_LOG: "${RUST_LOG:-info}"
      NIP29__relay__relay_url: "${RELAY_URL:-ws://0.0.0.0:8080}"
      NIP29__relay__auth_url: "${AUTH_URL:-ws://0.0.0.0:8080}"
    ports:
      - "8080:8080"

volumes:
  data:
