services:
  groups_relay:
    build:
      context: .
      dockerfile: Dockerfile.dev
      args:
        - DEBIAN_FRONTEND=noninteractive
    volumes:
      - ./config:/app/config:ro
    environment:
      RUST_LOG: "${RUST_LOG:-info}"
      NIP29__relay__relay_url: "${RELAY_URL:-ws://strfry:7777}"
      NIP29__relay__auth_url: "${AUTH_URL:-ws://localhost:8080}"
    ports:
      - "8080:8080"
    depends_on:
      - strfry

  strfry:
    image: ghcr.io/hoytech/strfry:latest
    volumes:
      - ./strfry-db:/strfry/data
      - ./config/strfry.conf:/etc/strfry.conf:ro
    ports:
      - "7777:7777"
    entrypoint: /bin/sh
    command: -c "rm -rf /strfry/data/* && ./strfry relay --config /etc/strfry.conf"

volumes:
  strfry-data: